/*##########################################################
~~~~~~~~~~~APP BODY SETTINGS -- DO NOT CHANGE ~~~~~~~~~~~~~
##########################################################*/

body {
  margin: 0;
}

.writeInBook {
  margin: 10px;
  /* display: flex;
  justify-content: center; */
  color:black;
}

h5 {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Home {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}




/*##########################################################
~~~~~~~~~DEV CONTAINER SETTINGS -- DO NOT CHANGE ~~~~~~~~~~
##########################################################*/

.placeHolderContainerLeft {
  height: 250px;
  background-color: white;
  justify-content: center;
  text-align: center;
  font-weight: 800;
  margin: 5px;
  border-radius: 20px;
}

.placeHolderContainerRight {
  height: 250px;
  background-color: white;
  justify-content: center;
  text-align: center;
  font-weight: 800;
  margin: 5px;
  border-radius: 20px;
}

.commentContainer {
  height: 90px;
  /* border-color: rgb(154, 154, 154); */
  border: solid;
  justify-content: center;
  text-align: center;
  font-weight: 800;
  margin: 5px;
  background-color: white;
  border-radius: 50px 50px 50px 50px / 25px 25px 25px 25px;
}






/*##########################################################
~~~~~~~~~~~~~~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~~~~~~~~~~~~
##########################################################*/

.header {
  width: 100%;
  height: 70px;
  position: fixed;
  background: url("./images/bookBannerLight.png") 0 0 no-repeat, radial-gradient(ellipse at bottom, rgba(0,0,0,0) 20%,rgba(0,0,0,1) 100%);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  padding-bottom: 5px;
  padding-right: 20px;
  border-bottom: solid 5px;
  border-color: white;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;
}

.headerLogo{
  font-weight: bold;
  justify-content: baseline;
  margin-top: 5px;
  margin-left: 20px;
  height: 40px;
  width: 205px;
}

.searchBar {
  width: 200px;
}

.loginBackground {
  width: 100vw;
  height: 100vh;
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  position: relative;
}

.loginBackground::after {
  content: "";
  background: url("./images/loginBackground.jpg") 0 0 no-repeat, radial-gradient(ellipse at center, rgba(0,0,0,0) 20%,rgba(0,0,0,1) 100%);
  background-size: cover;
  /* opacity: 0.6; */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  filter: grayscale(100%);
  transition-duration:3s; /* <= creates fade out effect */
  transition-delay:3s;
}

/* .loginButton {
  border-radius: 40%;
} */

.BNwhiteFontBackGround {
  background-color: black;
  border-radius: 50%;
  margin-bottom: 5px;
  margin-top: 5px;
}

.BNwhiteFont {
  padding: 30px;
}

.loginBlogoBackground {
  padding: 10px;
  height: 390px;
  width: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  border-radius: 20%;
  position: fixed;
  z-index: 10;
  background: url("./images/android-chrome-512x512.png");
  background-size: cover;
  /* box-shadow: inset 0px 0px 32px -1px #FFFFFF; */
  /* border-style:outset;
  border-width: 5px; */
};

/* .loginBox {
  padding: 10px;
  height: 350px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */


/*##########################################################
~~~~~~~~~~~~~~~~~~~~~~~~~~~ BODY ~~~~~~~~~~~~~~~~~~~~~~~~~
##########################################################*/

.bodyContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 80px;
}




/*##########################################################
~~~~~~~~~~~~~~~~~~~~~~ LEFT COMPONENT ~~~~~~~~~~~~~~~~~~~~~
##########################################################*/

.leftComponent {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 20px;
  background-color: rgb(154, 154, 154);
}




/*##########################################################
~~~~~~~~~~~~~~~~~~~~~~ CENTER COMPONENT ~~~~~~~~~~~~~~~~~~~~~
##########################################################*/

.centerComponent {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 450px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 20px;
}

.userDetails {
  height: 200px;
  background-color: black;
  color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  padding-top: 8px;
}

.userBook {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(154, 154, 154);
  margin-top: 10px;
  border-radius: 20px;
}

.commentModule {
  padding: 8px;
}

.commentModuleBody {
  border-radius: 20px;
}

.writeInBook {
  height: 50px;
  width: 300px;
}




/*##########################################################
~~~~~~~~~~~~~~~~~~~~~~ RIGHT COMPONENT ~~~~~~~~~~~~~~~~~~~~~
##########################################################*/

.rightComponent {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 20px;
  background-color: rgb(154, 154, 154);
}

.NYTbookImage {
  margin-top: 10px;
  height: 110px;
}
.NYTbookImage:hover {
  opacity: 0.5;
}

/* square buttons */
.rec.rec-arrow {
  border-radius: 0;
  background-color: white;
}
/* round buttons on hover */
.rec.rec-arrow:hover {
  border-radius: 50%;
  /* background-color: white; */
}
/* hide disabled buttons */
.rec.rec-arrow:disabled {
  visibility: hidden;
}
/* disable default outline on focused items */
/* add custom outline on focused items */
.rec-carousel-item:focus {
  outline: none;
  box-shadow: inset 0 0 1px 1px lightgrey;
  /* background-color: white; */
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.containerDescription {
  font-weight: 400;
  font-size: small;
  font-style: italic;
  margin-left: 5px;
  margin-right: 5px;
}


/*##########################################################
~~~~~~~~~~~~~~~~~~~~~ FOOTER COMPONENT ~~~~~~~~~~~~~~~~~~~~
##########################################################*/

.footer {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  width: 100%;
  height: 50px;
  background: url("./images/bookBannerLight.png") 0 0 no-repeat, radial-gradient(ellipse at top, rgba(0,0,0,0) 20%,rgba(0,0,0,1) 100%);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
}








