/*##########################################################
~~~~~~~~~~~APP BODY SETTINGS -- DO NOT CHANGE ~~~~~~~~~~~~~
##########################################################*/

body {
  margin: 0;
}

.writeInBook {
  margin: 10px;
  /* display: flex;
  justify-content: center; */
  color:black;
}

h5 {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.Home {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}




/*##########################################################
~~~~~~~~~DEV CONTAINER SETTINGS -- DO NOT CHANGE ~~~~~~~~~~
##########################################################*/

.placeHolderContainerLeft {
  height: 250px;
  background-color: white;
  justify-content: center;
  text-align: center;
  font-weight: 800;
  margin: 5px;
  border-radius: 20px;
  box-shadow: 0px 0px 32px 4px #000000;
}

.placeHolderContainerRight {
  height: 250px;
  background-color: white;
  justify-content: center;
  text-align: center;
  font-weight: 800;
  margin: 5px;
  border-radius: 20px;
  box-shadow: 0px 0px 32px 4px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.friendsListContainer {
  height: 500px;
  background-color: white;
  display: flex;
  width: 290px;
  flex-direction: column;
  align-items: center;
  justify-content: 'space-around';
  font-weight: 800;
  margin: 5px;
  border-radius: 20px;
  box-shadow: 0px 0px 32px 4px #000000;
  padding: 8px;
}

.commentContainer {
  height: 90px;
  /* border-color: rgb(154, 154, 154); */
  border: solid;
  justify-content: center;
  text-align: center;
  font-weight: 800;
  margin: 5px;
  background-color: white;
  border-radius: 50px 50px 50px 50px / 25px 25px 25px 25px;
  box-shadow: 0px 0px 32px 4px #000000;
}






/*##########################################################
~~~~~~~~~~~~~~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~~~~~~~~~~~~
##########################################################*/

.header {
  width: 100%;
  height: 70px;
  position: fixed;
  box-shadow: 0px 0px 32px 4px #000000;
  /* background-blend-mode: multiply; */
  /* background-size: cover; */
  /* background-position: center; */
  padding-bottom: 0px;
  padding-right: 20px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* position: absolute; */
  z-index: 1;
}

.header::before {
  content: "";
  filter: sepia(100%);
  background: url("./images/bookBannerLight.png") 0 0 no-repeat, radial-gradient(ellipse at bottom, rgba(0,0,0,0) 20%,rgba(0,0,0,1) 100%);
  background-position: center;
  z-index: -1;
  position:absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
}

.headerLogo{
  font-weight: bold;
  justify-content: baseline;
  margin-top: 5px;
  margin-left: 20px;
  height: 40px;
  width: 205px;
}

.searchBar {
  width: 200px;
}

.loginBackground {
  width: 100vw;
  height: 100vh;
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  position: relative;
}

.loginBackground::after {
  content: "";
  background: url("./images/loginBackground.jpg") 0 0 no-repeat, radial-gradient(ellipse at center, rgba(0,0,0,0) 20%,rgba(0,0,0,1) 100%);
  background-size: cover;
  /* opacity: 0.6; */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  filter: grayscale(100%);
}

.loginBackgroundTransition {
  width: 100vw;
  height: 100vh;
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  position: relative;
}

.loginBackgroundTransition::after {
  content: "";
  background: url("./images/loginBackground.jpg") 0 0 no-repeat, radial-gradient(ellipse at center, rgba(0,0,0,0) 20%,rgba(0,0,0,1) 100%);
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  filter: pulse;
  animation: pulse 5s;
}

@keyframes pulse {
  0% {
    filter:grayscale(100%);
  }
  100% {
    filter:grayscale(0%);
  }
}

.loginButton {
    width: 350px;
    margin: 14px 9.5px 15px 9.5px;
}

.textFieldStyle {
  width: 350px;
  margin: 4px 9.5px 0px 9.5px;
}

.loginGridStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: fixed;
}

.BNwhiteFontBackGround {
  background-color: black;
  border-radius: 50%;
  margin-bottom: 5px;
  margin-top: 3.5px;
}

.BNwhiteFont {
  padding: 30px;
}

.loginBlogoBackground {
  padding: 10px;
  height: 390px;
  width: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  border-radius: 20%;
  position: fixed;
  z-index: 10;
  background: url("./images/android-chrome-512x512.png");
  background-size: cover;
}




/*##########################################################
~~~~~~~~~~~~~~~~~~~~~~~~~~~ BODY ~~~~~~~~~~~~~~~~~~~~~~~~~
##########################################################*/

.bodyContainer {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  margin-top: 60px;
  justify-content: center;
  position: relative
}

.bodyContainer::before {
  content: "";
  background: url('./images/BNmainBackground.jpeg');
  background-position: center;
  position:absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
  filter:grayscale(20%);
  z-index: -5;
}




/*##########################################################
~~~~~~~~~~~~~~~~~~~~~~ LEFT COMPONENT ~~~~~~~~~~~~~~~~~~~~~
##########################################################*/

.leftComponent {
  display: flex;
  /* flex: 1; */
  flex-direction: column;
  width: 310px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 20px;
  /* background-color: rgb(154, 154, 154, 0.5); */
  margin-top: 20px;
  margin-bottom: 20px;
  /* padding: 10px; */
}

/* .currentBooks {
  color: black;
} */

.hideScroll::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}




/*##########################################################
~~~~~~~~~~~~~~~~~~~~~~ CENTER COMPONENT ~~~~~~~~~~~~~~~~~~~~~
##########################################################*/

.centerComponent {
  display: flex;
  /* flex: 4; */
  flex-direction: column;
  width: 600px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 20px;
  height: 1300px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* height: 1620px; */

.userDetails {
  display: flex;
  /* flex: 1; */
  height: 200px;
  background-color: #212529;
  color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  padding-top: 8px;
  box-shadow: 0px 0px 32px 4px #000000;
}

.writeMe {
  display: flex;
  /* flex: 1; */
  height: 50px;
  background-color: white;
  color: black;
  border-radius: 20px;
  justify-content: center;
  padding-top: 8px;
  /* opacity: 100%; */
  /* box-shadow: 0px 0px 32px 4px #000000; */
  margin-top: 10px;
}

.userBook {
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
  border-radius: 20px;
  overflow: auto;
  height: 1010px;
}

.userBook::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.friendsListModal {
  overflow-y: scroll;
}

.friendsListModal::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.bnLogoSmall {
  background: url('./images/bnLogoSmall.png');
  /* border-radius: 50px; */
  /* background-blend-mode: multiply; */
  background-size: cover;
  background-position: center;
  /* height: 100px; */
  /* z-index: 3; */
}

.commentModule {
  padding: 8px;
}

.commentModuleBody {
  border-radius: 20px;
  box-shadow: 0px 0px 32px 4px #000000;
  margin-left: 20px;
  margin-right: 20px;
}

/* .writeInBook {
  height: 50px;
  width: 300px;
  padding-top: 2500px;
  display: flex;
  /* flex: 5; */
  /* min-height: min-content; */





/*##########################################################
~~~~~~~~~~~~~~~~~~~~~~ RIGHT COMPONENT ~~~~~~~~~~~~~~~~~~~~~
##########################################################*/

.rightComponent {
  display: flex;
  /* flex: 1; */
  flex-direction: column;
  width: 300px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 20px;
  /* background-color: rgb(154, 154, 154); */
  margin-top: 20px;
  margin-bottom: 20px;
}



.NYTbookImage {
  margin-top: 10px;
  height: 110px;
}
.NYTbookImage:hover {
  opacity: 0.5;
}

/* square buttons */
.rec.rec-arrow {
  border-radius: 0;
  background-color: white;
}
/* round buttons on hover */
.rec.rec-arrow:hover {
  border-radius: 50%;
  /* background-color: white; */
}
/* hide disabled buttons */
.rec.rec-arrow:disabled {
  visibility: hidden;
}
/* disable default outline on focused items */
/* add custom outline on focused items */
.rec-carousel-item:focus {
  outline: none;
  box-shadow: inset 0 0 1px 1px lightgrey;
  /* background-color: white; */
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.containerDescription {
  font-weight: 400;
  font-size: small;
  font-style: italic;
  margin-left: 5px;
  margin-right: 5px;
}

.sideComponentTitle {
  /* color: black; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* border: solid; */
  /* background-color: white; */
  font-weight: bold;
  font-size: large;
  /* border-style: outset; */
}

.sideComponentTitle:hover {
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: solid;
  background-color: white;
}

.modalTitle {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: x-large;
  justify-self: center;
  align-self: center;}

.modal {
  position: absolute;
  top: 50%;
  left:50%;
  /* transform: translate(-50%, -50%); */
  width: 1000px;
  height: 500px;
  /* background-color: background.paper;
  border: 2px solid #000;
  box-shadow: 24;
  p: 4; */
}


/*##########################################################
~~~~~~~~~~~~~~~~~~~~~ FOOTER COMPONENT ~~~~~~~~~~~~~~~~~~~~
##########################################################*/

.footer {
  display: flex;
  flex-direction: row;
  box-shadow: 0px 0px 32px 4px #000000;
  width: 100%;
  height: 50px;
  background: url("./images/bookBannerLight.png") 0 0 no-repeat, radial-gradient(ellipse at top, rgba(0,0,0,0) 20%,rgba(0,0,0,1) 100%);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  filter: sepia(100%);
  z-index: -5;
}


/*##########################################################
~~~~~~~~~~~~~~~~~~~~~ SEARCH COMPONENT ~~~~~~~~~~~~~~~~~~~~
##########################################################*/

/* .searchList {
  background-color: rgb(255, 0, 0);
} */

.filterSearchResults {
  display: flex;
  /* flex: 1; */
  height: 200px;
  background-color: #212529;
  color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  padding-top: 8px;
  box-shadow: 0px 0px 32px 4px #000000;
}

.searchResults {
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
  border-radius: 20px;
  overflow: auto;
  height: 1070px;
  color: black;
}

.aSearchResult {
  display: flex;
  flex-direction: row;
}

.searchResultText {
  margin: 5px;
}

.searchResultCard {
  width: 420px;
  margin: 10px;
  background-color: white;
  border-radius: 10%;
  box-shadow: 0px 0px 32px 1px #000000;

}

.searchResultImage {
  width: 150px;
  margin-top: 15px;
  border-radius: 5%;
  box-shadow: 0px 0px 32px 1px #000000;
}

.searchResultImageContainer {
  width: 150px;
  margin-top: 15px;
  border-radius: 5%;
}








